
.form {
    margin: 1rem;
}
.input {
    padding: var(--small-margin-or-padding);
    border-radius: var(--small-margin-or-padding);
    margin-right: var(--small-margin-or-padding);
    font-size: var(--normal-font-size);
}

.input:focus {
    background-color: var(--focus-colour);
}
.select {
    padding: var(--small-margin-or-padding);
    border-radius: var(--small-margin-or-padding);
    margin-right: var(--small-margin-or-padding);
    font-size: var(--normal-font-size);
}

.select:focus {
    background-color: var(--focus-colour);
}
.option {
}
