
.form {
    margin: 1rem;
}
.input {
    padding: 8px;
    border-radius: 8px;
    margin-right: 8px;
}

.input:focus {
    background-color: #eef;
}
.select {
    padding: 8px;
    border-radius: 8px;
    margin-right: 8px;
}

.select:focus {
    background-color: #eef;
}
.option {
}
