.shows {
    max-height: 75vh;
    width: 75vw;
    overflow: auto;
    margin-bottom: calc(var(--general-margin)*6);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--white-colour);
}
  
.shows h2, .shows h3 {
    font-size: 1.2em;
    margin: var(--general-margin);
}
  
.shows label, .shows p {
    font-size: 1em;
    margin: var(--general-margin);
}
  
.shows button {
    font-size: 1em;
    margin: calc(var(--general-margin)/4);
    padding: calc(var(--general-padding)/2);
}

