.shows {
    display: flex;
    flex-direction: column;
    margin: 1em auto;
    width: 100%;
    background-color: #ddd;
}

.search_form {
    display: inherit;
    flex-direction: row;
}

.button_container {
    display: inherit;
    flex-direction: row;
    margin: 1rem;
}

.button_container button {
    display: inline-block;
    width: 100px;
    margin: calc(var(--general-margin)/8);
    padding: calc(var(--general-padding)2);
}

.shows h2, .shows h3 {
    font-size: 1.2em;
    margin: var(--general-margin);
}
  
.shows label, .shows p {
    font-size: 1em;
    margin: var(--general-margin);
}


