.select {
    width: 30%;
    padding: calc(var(--general-padding)/4);
    margin: 10px 0;
    border: 2px solid #aaa;
    border-radius: 5px;
    font-size: medium;;
    background-color: #fff;
    cursor: pointer;
}

.label {
    font-size: medium;
}