
.container {
    background-color: var(--card-background-color);
    margin: var(--general-margin) 0;
    padding: var(--general-padding);
    border-radius: var(--normal-border-radius);
    box-shadow: var(--dark-gray-colour) 2px 2px 2px;
    width: 47%;
}

@media (max-width: 800px) {
    .container {
        width: 100%;
    }
}

.container h3 {
    margin-bottom: calc(var(--general-margin)/4);
    font-size: larger;
}
.container p {
    margin-bottom: calc(var(--general-margin)/8);
    font-family: Monospace, sans-serif;
}