.review {
    display: block;
    background-color: rgb(208, 219, 205);
    width: 100%;
    height:450px;
    border-radius: 30px;
    margin:20px;
    padding:20px;
}

.review h2 {
    margin: 10px;
    padding:10px;
}

.review p {
    margin: 10px;
    padding:10px;
    font-size: x-large;
}

.stars {
    margin-left: 10px;
    margin-bottom: 10px;
}

.starsSelected {
    margin-left: 10px;
    height:30px;
    background-color: rgb(208, 219, 205);
    border-color:  var(--medium-gray-colour);
    font-size: large;
}


.reviewText {
    width: 100%;
    height: 150px ;
  
    border-radius: 10px;
    background-color: var(--light-gray-colour);
    margin-top: 10px;
    padding: 20px;
    font-size: x-large;
}

.buttons{
    display: flex;
    justify-content: left;
    align-items: center;
    padding:20px;
    margin-top: 2rem;
    margin-left: 0px;
    margin-right: 30px;

}

.buttons button {
    font-size:  1rem;
    align-items: center;
	background-color: var(--dark-gray-colour);
	color: var(--light-colour);
	padding: 0px 10px;
    margin-right: 50%;
	text-align: center;
    vertical-align: center;
	text-decoration: none;
    margin-top: 1px;
	cursor: pointer;
	border-radius: .5em;
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
	min-width: 12em;
    height: 2em;
    border-color: black;
    border-width: 2px;
    border-style: solid;
  }

  .buttons button:hover {
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: var(--medium-gray-colour);
  }

  .infoText{
    margin-left: 20px;
    font-size: x-large;
  }
