
.reviewsContainer {
    display: block;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.paginatorContainer {
    margin: 2em auto 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottomPaginator {
    margin-bottom: 5rem;
}