.favourites {
    margin: var(--general-margin) 0;
    width: 100%;
}

.headingContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: calc(var(--general-margin)/2);
    margin-left: calc(var(--general-margin)/3);
    margin-right: calc(var(--general-margin)/3);
}

.container {
    display: flex;
    flex-direction: column;
    margin: var(--general-margin) calc(var(--general-margin)/4);
}

.heading {
    font-size: var(--header-font-size);
    font-weight: bold;
    margin-bottom: calc(var(--general-margin)/2);
}

.favouritesList {
    display: flex;
    flex-direction: column;
}

.favourite {
    margin: calc(var(--general-margin)/4) 0;
    padding: calc(var(--general-padding)/2);
    background-color: var(--card-background-color);
    border-radius: var(--normal-border-radius);
    border:  var(--dark-gray-colour);
    box-shadow: var(--dark-gray-colour) 2px 2px 2px;
}

.upper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.type {
    font-size: var(--normal-font-size);
    margin-bottom: calc(var(--general-margin)/4);
}

.title {
    font-size: var(--normal-font-size);
}

.title:hover {
    font-weight: bold;
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    .headingContainer {
        flex-direction: column;
        align-items: flex-start;
    }

    .heading {
        margin-bottom: calc(var(--general-margin)/6);
    }

    .share {
        margin-bottom: calc(var(--general-margin)/4);
    }

    .title {
        margin-top: calc(var(--general-margin)/4);
    }
}