.favourites {
    margin: var(--general-margin) 0;
    width: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    margin: var(--general-margin) calc(var(--general-margin)/4);
}

.heading {
    margin-top: 0;
    margin-bottom: calc(var(--general-margin)/2);
    margin-left: calc(var(--general-margin)/4);
}

.favouritesList {
    display: flex;
    flex-direction: column;
}

.favourite {
    margin: calc(var(--general-margin)/4) 0;
    padding: calc(var(--general-padding)/2);
    background-color: var(--card-background-color);
    border-radius: var(--normal-border-radius);
    border:  var(--dark-gray-colour);
    box-shadow: var(--dark-gray-colour) 2px 2px 2px;
}

.upper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.type {
    font-size: var(--normal-font-size);
    margin-bottom: calc(var(--general-margin)/4);
}

.title {
    font-size: var(--normal-font-size);
}