.home {
    display: block;
    background-color: var(--white-colour);
    width: auto;
    height:auto;
    border-radius: var(--normal-border-radius);
    margin: var(--general-margin);
    margin-bottom: 0px;

}

.lower {
    display: flex;
    margin-top: var(--general-margin);
}

.page {
    width: 100%;
    border-radius: var(--normal-border-radius);
    background-color: var(--light-colour);
    padding:var(--general-padding);
}

.page h2 {
    display: block;
    width: 100%;
    margin-top: 0px;
}

.page p {
    display: block;
    width: 100%;
    margin-top: 0px;
}

.poster {
    display: flex;
    width: 100%;
    border-radius: var(--normal-border-radius);
    padding:var(--general-padding);  
    background-color: var(--light-colour);
    border-color: black;
    border-width: 5px;
    border-style: solid;
    margin-right: var(--general-margin);
}

.poster a{
    width: 100%;
    margin: 0px;
}

.poster img{
    width: 100%;
    margin: 0px;
}