.login h2{

    margin-top: 1em;
    margin-bottom:1em;
}

.login {
    width: 100%;
    height: 60vh;
    background-color: var(--white-colour);
    padding-bottom: 1em;
    margin-bottom: 1em;
}

#info {
    padding-bottom: 0em;
    margin-bottom: 0em;
}

#login-form {
    padding-bottom: 0em;
    padding-top: 1em;
    margin-bottom: 0em;
    margin-top: 0em;
    color: var(--dark-colour);
    display: flex;
    text-align: center;
    align-items: center;
    vertical-align: center;
}
#login-text {
    width:100px;
    display: flex;
}

div#buttons{
    display: flex;
    justify-content: left;
    align-items: center;
    padding:20;
    margin-top: 2rem;
    margin-left: 0px;
    margin-right: 30px
}
button {
    font-size:  1rem;
    align-items: center;
	background-color: var(--dark-gray-colour);
	color: var(--light-colour);
	padding: 0px 10px;
    margin-right: 40%;
	text-align: center;
    vertical-align: center;
	text-decoration: none;
    margin-top: 1px;
	cursor: pointer;
	border-radius: .5em;
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
	min-width: 8em;
    height: 2em;
    border-color: black;
    border-width: 2px;
    border-style: solid;
  }

  button:hover {
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: var(--medium-gray-colour);
  }