.page {
    margin-bottom: calc(var(--general-margin) * 1);
}

.sectioni {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:1em;
}

.sectioni p {
    margin:0 em;
}

.redButton {
    background-color: #ff0000;

}

  
  .redButton:hover{
      box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: #ffdddd;
  }