:root {
  --navibar-color: #444;
  --light-colour: #dfdfdf;
  --white-colour: #efefef;
  --dark-colour: #222;
  --accent-colour: #f40000;
  --general-margin: 2rem;
  --general-padding: 1rem;
  --header-font-size: 2em;
}

body {
  height: 100vh;
  width: 100vw;
}
