:root {
  --navibar-color: #444;
  --light-colour: #dfdfdf;
  --white-colour: #efefef;
  --dark-colour: #222;
  --accent-colour: #f40000;
  --general-margin: 1rem;
  --general-padding: 1rem;
  --header-font-size: 2em;
  --focus-colour: #eef;
  --normal-font-size: larger;
  --normal-border-radius: 1em;
  --background-color: #fff;
  --card-background-color: #ddd;
  --button-colour: #eee;
  --button-text-colour: #222;
  --button-border-colour: #222;
  --dark-gray-colour:#404040;
}

body {
  height: 100vh;
  width: 100vw;
}
